In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2021-10-31 18:09:00,-33.5906,26.8910,67.28,86,72,18.10
1,1,East London,ZA,2021-10-31 18:08:01,-33.0153,27.9116,67.89,82,63,13.53
2,2,Bereda,ES,2021-10-31 18:09:01,43.2686,-7.5406,57.42,94,100,4.72
3,3,Ponta Do Sol,PT,2021-10-31 18:09:01,32.6667,-17.1000,75.70,80,40,7.14
4,4,Puerto Ayora,EC,2021-10-31 18:09:02,-0.7393,-90.3518,75.16,79,79,9.62

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
non_negative_max_temp_df = city_data_df.loc[city_data_df["Max Temp"] >= 0]

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = non_negative_max_temp_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = non_negative_max_temp_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Ponta Do Sol,PT,2021-10-31 18:09:01,32.6667,-17.1000,75.70,80,40,7.14
4,4,Puerto Ayora,EC,2021-10-31 18:09:02,-0.7393,-90.3518,75.16,79,79,9.62
5,5,Abeokuta,NG,2021-10-31 18:09:03,7.1500,3.3500,81.73,70,100,4.54
6,6,Butaritari,KI,2021-10-31 18:09:03,3.0707,172.7902,80.80,78,41,9.53
7,7,Daru,PG,2021-10-31 18:09:04,-9.0763,143.2092,79.16,89,96,10.98
9,9,Sal Rei,CV,2021-10-31 18:05:20,16.1833,-22.9167,82.60,65,75,16.11
12,12,San Vicente,AR,2021-10-31 18:09:09,-26.6167,-54.1333,81.77,50,25,1.68
22,22,Chuy,UY,2021-10-31 18:09:17,-33.6971,-53.4616,75.27,70,92,8.90
23,23,Victoria,HK,2021-10-31 18:05:52,22.2855,114.1577,76.32,82,87,1.01
24,24,Saint George,US,2021-10-31 18:08:27,37.1041,-113.5841,77.47,39,1,0.00

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3   Ponta Do Sol      PT     75.70  32.6667  -17.1000
4   Puerto Ayora      EC     75.16  -0.7393  -90.3518
5       Abeokuta      NG     81.73   7.1500    3.3500
6     Butaritari      KI     80.80   3.0707  172.7902
7           Daru      PG     79.16  -9.0763  143.2092
9        Sal Rei      CV     82.60  16.1833  -22.9167
12   San Vicente      AR     81.77 -26.6167  -54.1333
22          Chuy      UY     75.27 -33.6971  -53.4616
23      Victoria      HK     76.32  22.2855  114.1577
24  Saint George      US     77.47  37.1041 -113.5841

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Ponta Do Sol,PT,75.70,32.6667,-17.1000,Hotel do Campo
4,Puerto Ayora,EC,75.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,Abeokuta,NG,81.73,7.1500,3.3500,Continental Suites Lodge
6,Butaritari,KI,80.80,3.0707,172.7902,Isles Sunset Lodge
7,Daru,PG,79.16,-9.0763,143.2092,Daru Lodge
...,...,...,...,...,...,...
550,Gizo,SB,81.25,-8.1030,156.8419,Imagination Island
551,Diu,IN,75.09,20.7141,70.9822,Hotel Relax Inn
557,Mlonggo,ID,76.51,-6.5333,110.7000,Asia Metal Art
558,Coahuayana,MX,88.83,18.7333,-103.6833,El rranchito michuacan de ocampos
562,Rapu-Rapu,PH,82.40,13.1866,124.1256,Seaview Dormitel

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))