## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,51.91,62,0,17.27,clear sky
1,1,Puerto Ayora,EC,-0.7393,-90.3518,75.16,79,40,8.43,scattered clouds
2,2,Katangli,RU,51.7102,143.2326,24.30,76,11,7.76,few clouds
3,3,Kaitangata,NZ,-46.2817,169.8464,53.58,52,77,7.34,broken clouds
4,4,Carnarvon,AU,-24.8667,113.6333,66.27,68,90,18.41,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 78
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
10,10,Hithadhoo,MV,-0.6000,73.0833,82.26,76,100,18.10,overcast clouds
15,15,Mekhe,SN,15.1097,-16.6218,81.16,59,100,11.21,overcast clouds
17,17,Bandarbeyla,SO,9.4942,50.8122,78.64,80,28,13.13,scattered clouds
25,25,Wewak,PG,-3.5534,143.6268,78.87,84,100,2.15,moderate rain
36,36,Bubaque,GW,11.2833,-15.8333,82.78,76,20,12.82,few clouds
50,50,Tayu,ID,-6.5397,111.0518,79.63,82,100,3.49,overcast clouds
55,55,Hilo,US,19.7297,-155.0900,83.25,67,1,9.22,clear sky
61,61,Maturin,VE,9.7500,-63.1767,81.32,73,100,6.67,overcast clouds
62,62,Kokopo,PG,-4.3520,152.2633,79.39,77,59,2.01,light rain
69,69,Georgetown,MY,5.4112,100.3354,78.89,93,20,2.30,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                141
City                   141
Country                141
Lat                    141
Lng                    141
Max Temp               141
Humidity               141
Cloudiness             141
Wind Speed             141
Current Description    141
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
10,10,Hithadhoo,MV,-0.6000,73.0833,82.26,76,100,18.10,overcast clouds
15,15,Mekhe,SN,15.1097,-16.6218,81.16,59,100,11.21,overcast clouds
17,17,Bandarbeyla,SO,9.4942,50.8122,78.64,80,28,13.13,scattered clouds
25,25,Wewak,PG,-3.5534,143.6268,78.87,84,100,2.15,moderate rain
36,36,Bubaque,GW,11.2833,-15.8333,82.78,76,20,12.82,few clouds
50,50,Tayu,ID,-6.5397,111.0518,79.63,82,100,3.49,overcast clouds
55,55,Hilo,US,19.7297,-155.0900,83.25,67,1,9.22,clear sky
61,61,Maturin,VE,9.7500,-63.1767,81.32,73,100,6.67,overcast clouds
62,62,Kokopo,PG,-4.3520,152.2633,79.39,77,59,2.01,light rain
69,69,Georgetown,MY,5.4112,100.3354,78.89,93,20,2.30,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = np.nan
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Hithadhoo,MV,82.26,overcast clouds,-0.6000,73.0833,NaN
15,Mekhe,SN,81.16,overcast clouds,15.1097,-16.6218,NaN
17,Bandarbeyla,SO,78.64,scattered clouds,9.4942,50.8122,NaN
25,Wewak,PG,78.87,moderate rain,-3.5534,143.6268,NaN
36,Bubaque,GW,82.78,few clouds,11.2833,-15.8333,NaN
50,Tayu,ID,79.63,overcast clouds,-6.5397,111.0518,NaN
55,Hilo,US,83.25,clear sky,19.7297,-155.0900,NaN
61,Maturin,VE,81.32,overcast clouds,9.7500,-63.1767,NaN
62,Kokopo,PG,79.39,light rain,-4.3520,152.2633,NaN
69,Georgetown,MY,78.89,few clouds,5.4112,100.3354,NaN

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

   
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Hithadhoo,MV,82.26,overcast clouds,-0.6000,73.0833,Scoop Guest House
15,Mekhe,SN,81.16,overcast clouds,15.1097,-16.6218,Chez ain
17,Bandarbeyla,SO,78.64,scattered clouds,9.4942,50.8122,JABIR HOTEL
25,Wewak,PG,78.87,moderate rain,-3.5534,143.6268,In Wewak Boutique Hotel
36,Bubaque,GW,82.78,few clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
...,...,...,...,...,...,...,...
650,Palauig,PH,79.34,scattered clouds,15.4350,119.9045,Alperi Botique Resort
654,Alenquer,BR,88.14,overcast clouds,-1.9417,-54.7383,Josilene Castro
658,Samarai,PG,83.03,overcast clouds,-10.6167,150.6667,Nuli Sapi
659,Gunjur,GM,82.47,clear sky,13.2019,-16.7339,"Gunjur, dalabaa lodge"
670,Kalmunai,LK,78.28,broken clouds,7.4167,81.8167,VS Villa

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description Max Temp</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))